// Add your custom CSS here.
.duvidas {
    text-align: center;
}
.redes-sociais {
    text-align: right;
}

@media(min-width: 992px) {
    .header__toggler {
        display: none;
    }
}

.langs-block-others-wrapper {
    display: none;
    position: absolute;
    z-index: 9999 !important;
    padding: 10px 10px 3px;
    background: #efefef;
    margin-top: 12px;
    border-top: 2px solid #ffae0a;
    left: 100px;
}

.langs-block-others {
    display: flex;
    flex-direction: column;
    //
}

.langs-block .current:hover + .langs-block-others-wrapper {
    display: block !important;
}

.link-loga {
    color: #fc4d10;
    margin-right: 5px;
}

.link-ROD-tittle {
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ff9621;
}

.link-ROD {
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #505050;
}

.pre-footer-title {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #ff7328;
}

.rod2 {
    text-align: center;
}

.product-card__prices {
    .prices__value {
        color: #ff1d1d;
        font-size: 18px;
        padding-top: 1px;
    }
}

@media(max-width: 767px) {
    .topo {
        display: none !important;
    }
}
